body{
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	font-family: sans-serif;
    
}

#hurt{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
  	background-color: rgba(250,0,0,0.5);
  	z-index: 5;

}
#endgame{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
  	background-color: black;
  	z-index: 15;

}
#endgameContent{
	width: 100%;
	height: 100%;
	color: white;
	font-family: Impact;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 15;
}
#endgameContent a{
	border: 1px solid white;
	color: aquamarine;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	text-align: center;
	background: black;

}

#blocker {
  position: absolute;
  color: white;
	width: 100%;
	height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
#instructions {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}
#player-screen {
  position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
  	z-index: 9;
}
#aimer {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	color: rgb(255, 126, 126);
	opacity: .6;
	text-align: center;
	cursor: pointer;
}


.orbs{
	color: black;
	font-family: sans-serif;
	display: flex;
	width: 155px;
	height: 60px;
	background: rgb(250 , 250, 250, .5);
	justify-content: space-between;
	align-items: center;
	margin: 10px;
	border-radius: 5px;
	padding-right: 10px;
}

.orb-nums{
	
	font-family: sans-serif;
	display: flex;
	
	justify-content: center;
}

.health{
	position: absolute;
	right: 15px;
	top: 25px;
	width: 155px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid aquamarine;
	

}
.ammoCount{
	position: absolute;
	color: white;
	text-align: center;
	left: 15px;
	bottom: 25px;
	width: 55px;
	height: 45px;
	border-radius: 5px;
	background: rgba(20, 240, 166, 0.884);

}

#player-health{
	height: 100%;
	background: rgba(20, 240, 166, 0.884);
}

